/* navbar css code here */
.navbar-brand span{
    color: #ef233c;
    
}
.nav-item :hover{
    color: #ef233c;
    border-bottom: 1px solid #ef233c;
}
/*  end navbar css code  */



.bg_image-1{
    background-image: url(images/banner3.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_image-2{
    background-image: url(images/banner5.jpg);
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.bg-image-2-inside-text a{
    text-decoration: none;
    color: #ef233c;
    border-radius: 5px;
}

.bg-image-2-inside-text{
    text-align: start;
}

.about-info-a-tag a{
    border-radius: 5%;
    text-decoration: none;
    color: white;
    background-color: #ef233c;
}
.happy-clients{
    position: relative;
    border: 1px solid black;
}
.info{
    border-radius: 5px;
    position: absolute;
    left: 5%;
    bottom:   -4%;
    
}

.persons{
    position: relative;
}

.social-media-icon{
    display: inline;
}
.social-media-icon a{
    color: #ef233c;
    
}


/* footer css code here */
ul{
    list-style: none;
      margin: 0%;
      padding: 0%;
    
}

li a{
    text-decoration: none;
    color: #888;
    
}

li{
    color: #888;
    margin-bottom: 2%;
}

.payment_cards li{
    display: inline-block;
    font-size: xx-large;
}


.last p{
    color: #888;
}

.last a{
    text-decoration: none;
    color: white;
}

.last_buttons a{
    padding: 2%;
    /* padding-left: 3%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%; */
    margin-left: 3%;
    margin-bottom: 3%;
    background-color: #ef233c;
 text-decoration: none;
}

.last_buttons {
    text-align: center;
 }
/* end footer css code */


/* .text-center {
     text-align: unset !important; 
} */

